* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

:root {
	--bg-color: #e5e5e5;
	--text-color: #02073E;
	--second-color: #5a7184;
	--main-color: #6e54fa;
	--big-font: 6rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
}

.f-col {
	display: flex;
	flex-direction: column;
}

.f-row {
	display: flex;
	flex-direction: row;
}

/***********header*********/
header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	/*display: flex;
	align-items: center;
	justify-content: space-between;*/
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	transition: ease .40s;
	flex-wrap: wrap;
	background-color: var(--bg-color);
	padding: 1rem 10rem;
}

.logopic {
	width: 50px;
	height: 50px;
}

.logo {
	font-weight: bold;
	color: var(--text-color);
}

.hiddenlabel {
	display: none;
}

.navlinks {
	display: flex;
	justify-content: space-between;
}

.navlinks div {
	display: flex;
	align-items: center;
}

.navlinks .menu-icon,
.navlinks .closeMenu {
	display: none;
}

.navlinks .menu-icon {
	font-size: 25px;
}

.logo-name {
	display: flex;
	align-content: center;
}

.sideLinksR {
	display: flex;
	justify-content: baseline;
	align-items: center;
	gap: 3vw;
}

.sideLinksL {
	min-width: 20%;
}

.underline {
	display: flex;
	flex-direction: column;
}

#login {
	color: var(--text-color);
}

.navbar {
	display: flex;
	list-style: none;
}

.navbar a,
.navlinks #login {
	color: var(--text-color);
	font-size: var(--p-font);
	font-weight: 500;
	padding: 10px 22px;
	border-radius: 4px;
	transition: ease .40s;
}

.navbar a:hover,
.navlinks #login:hover {
	background: var(--bg-color);
	color: var(--text-color);
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	border-radius: 4px;
}

#started {
	font-weight: bold;
	color: #0A8080;
	border: none;
}

/******login sign up******/
.textsection h1 {
	color: #0A8080;
	-webkit-text-stroke: 0.01cm rgb(255, 255, 255);
	font-weight: bold;
	font-size: 4vw;
	padding-bottom: 7vh;
}

.textsection p {
	width: 80%;
	font-weight: 25px;
	line-height: 4vh;
	padding-bottom: 7vh;
}

.textsection h4 {
	font-size: 3vw;
}

#signstyle {
	color: #0A8080;
}

.signuplogin {
	padding-top: 20vh;
	display: flex;
	justify-content: center;
	padding-bottom: 5vh;
}

.formsection {
	width: 80vw;
	height: fit-content;
	display: flex;
	align-items: center;
}

.infofield h1 {
	padding-bottom: 5vh;
	padding-top: 3vh;
}

.infofield p {
	padding-bottom: 3vh;
}

.textsection {
	align-items: center;
	display: flex;
	flex-direction: column;
	background-image: url('/img/login-signup.png');
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 5vh;
}

.fill {
	display: flex;
	gap: 3vw;
}
/* 
.log form,
.signup form {
	gap: 3vh;
} */

.log p,
.log h1,
.signup p,
.signup h1 {
	text-align: center;
}

input {
	width: 20vw;
	height: 6vh;
	border: none;
	border-radius: 4px;
}

input::placeholder {
	padding-left: 6px;
}

#myCheckbox {
	width: 15px !important;
	cursor: pointer;
}

.checkb {
	display: flex;
	align-items: center;
	gap: 0.5vw;
}
.rmmbrpass, .mailinput{
	display: flex;
	flex-direction: column;
	gap: 0.5vh;

}

.checkb label {
	color: #5a7184;
}
.form1{
	display: flex;
	flex-direction: column;
	gap: 5vh;
}
.form2{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;gap: 5vh;
}
.form2 div{
	display: flex;
	flex-direction: column;
}
#loginbtn,
#signupbtn {
	background-color: rgb(10, 128, 128, 0.5);
	border-radius: 20px;
	color: white;
	font-weight: bold;
	margin-top: 3vh;
}

#loginbtn:hover,
#signupbtn:hover {
	background-color: #0A8080;
	cursor: pointer;
}

.errmsg {
	color: red;
	font-size: 15px;
	display: none; 
}

.log {
	display: none;
}

.signup {
	flex-direction: column;
	align-items: center;
	padding-bottom: 5vh;
	background-color: #FBF5F1;
	width: 40vw;
	border-radius: 15px;
}

.desactiveForm {
	display: none;
}

.activeForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 5vh;
	background-color: #FBF5F1;
	width: 40vw;
	border-radius: 15px;
}


.infofield {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.links {
	display: flex;
}

.activelink {
	background-color: #FBF5F1;
	border-bottom: solid;
	color: rgb(0, 0, 0);
	border-color: #878889;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.links a {
	padding: 3vh;
	font-weight: bold;
}

/**********footer section************/
.section {
	width: 30vh;
}

.footertext {
	display: flex;
	justify-content: center;
	gap: 5vh;
	padding-left: 25vh;
	padding-right: 20vh;
	align-items: baseline;
	padding-top: 2vh;
	padding-bottom: 5vh;
}

.columnsection {
	display: flex;
	flex-direction: column;
}

.heightmedia {
	display: flex;
	flex-direction: column;
}

.columnsection a {
	line-height: 35px;
}

.columnsection h5 {
	padding-bottom: 3vh;
}

.socialmedia {
	display: flex;
}

.icons img {
	width: 50%;
}

.medias {
	padding-right: 10px;
}

.logostyle {
	color: #0A8080;
}

.footerlogo {
	display: flex;
	align-items: baseline;
	padding-bottom: 3vh;
}

.logoinfo a {
	line-height: 30px;
}

.logoinfo p {
	color: rgb(164, 167, 167);
	font-size: 10px;
	padding-top: 2vh;
}

@media screen and (max-width: 768px) {
	/*header*/

	body {
		overflow-x: hidden;
	}

	#started,
	.underline img {
		display: none;
	}

	.navlinks .menu-icon {
		display: block;
		cursor: pointer;
	}

	.navlinks .closeMenu {
		display: block;
		position: absolute;
		cursor: pointer;
		left: 6vh;
		top: 4vh;
		transform: translateX(-10vh);
	}


	.navbar {
		flex-direction: column;
		text-align: center;
		position: absolute;
		left: 0;
		top: 11vh;
		width: 50%;
		height: 100%;
		transform: translateX(-100%);
		transition: transform 0.5s ease;
	}

	#login {
		text-align: center;
		position: absolute;
		left: 0;
		top: 47.5vh;
		width: 50%;
		height: 100%;
		transform: translateX(-100%);
		transition: transform 0.5s ease;

	}

	.closeMenu.show {
		transform: translateX(0vw);
	}

	.closeMenu.hide {
		transform: translateX(-10vw);
	}

	.menu-icon.hide {
		transform: translateX(-15vw);
	}

	.menu-icon.show {
		transform: translate(0);
	}

	.navbar.show,
	#login.show {
		transform: translateX(0);

	}

	.navbar.hide,
	#login.hide {
		transform: translateX(-100%);

	}

	.navbar li,
	.navlinks #login {
		background-color: #FBF5F1;
		padding: 3vh 0;
	}

	.navbar li:hover {
		background: var(--bg-color);
		color: var(--text-color);
		box-shadow: 10px 20px 100px rgb(85 85 85 / 50%);
		border-radius: 4px;
	}

	.navbar a:hover {
		font-weight: bold;
		color: #0A8080;
		box-shadow: none;
	}

	.navlinks #login:hover {
		font-weight: bold;
		color: #0A8080;
		background: var(--bg-color);
		box-shadow: 10px 20px 100px rgb(85 85 85 / 50%);
		border-radius: 4px;
	}

	.navlinks {
		padding: 0;
		width: 100%;
		display: flex;
		align-items: center;
		gap: 15vw;
	}

	.logopic {
		width: 40px;
		height: 40px;
	}

	.sideLinksL {
		display: flex;
		align-items: center;
	}

	header {
		background-color: #FBF5F1;
		display: flex;
		justify-content: center;
		padding: 1rem 2rem;
	}

	/******login sign up******/
	.formsection {
		flex-direction: column;
		height: fit-content;
		gap: 7vh;
	}
	.textsection h1{
		font-size: 7vh;
	}
	.textsection p{
		width: 70%;
		align-self: flex-start;
	}
	
	.textsection h4{
		font-size: 3vh;
	}
	

	.signup {
		width: 80vw;
	}

	.log {
		width: 80vw;
	}
	input{
		width: 60vw;
	}

	/******footer container******/
	.footertext {
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 1vh;
		padding: 0;
		padding-top: 3vh;
		padding-bottom: 2vh;
	}

	.footerlogo {
		justify-content: center;
	}
	.activeSection{

	}
	
	.columnsection a.hide{
		display: none;
	}

	.columnsection h5 {
		justify-content: center;
	}

	.section {
		width: 90%;
		background-color: #FBF5F1;
	}

	.footerlogosection {
		background-color: var(--bg-color);
	}

	.columnsection h5 {
		padding: 1vh;
	}

}